.form{
    display: flex;
    flex-direction: column;
    padding: 20px;
  
    
}
.lable{
    padding-top: 20px;
    font-weight: bold
   
}
.input{
   height: 3em;
    width: 40%;
   background-color: aqua
    
}.button{
    width:5em;
    height: 3em;
    background-color: pink
}

.div{
    padding: 20px;
}
h2{
    padding-left: 20px;
    text-align: center;
    font-size: 3em;

}
body{
    background-image: url("https://www.clipartmax.com/png/small/109-1096411_sad-crying-girl-girl-smiley-thumbs-up.png");
    background-position: 550px 180px;
    
background-size:55% 55%;
background-position: 550px 150px;
background-repeat: no-repeat;
background-color: darkseagreen;

}
