.form{
    display: flex;
    flex-direction: column;
    padding: 20px;
  
    
}
.lable{
    padding-top: 20px;
    font-weight: bold
   
}
.input{
   height: 3em;
    width: 40%;
   background-color: aqua
    
}.button{
    width:5em;
    height: 3em;
    background-color: pink
}

.div{
    padding: 20px;
}
h2{
    padding-left: 20px;
    text-align: center;
    font-size: 3em;
    padding: 20px;
    background-color: coral

}
body{
    background-position: 550px 180px;
    background-image: url("http://1.bp.blogspot.com/-_6Avsdtpkls/Th7WOmrLduI/AAAAAAAAAQU/hbA4x4mBLMg/Online-Shopping-Coupons-India.jpg");
background-size:55% 55%;
background-position: 550px 150px;
background-repeat: no-repeat;
background-color: darkseagreen;

}
